@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Yuji+Hentaigana+Akebono&display=swap');
/* font-family: 'Oooh Baby', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yuji Hentaigana Akebono', cursive; */
.container {
  text-align: center;
}


.hambuger{
  margin-top: 2%;
  margin-left: 87%;
}
header .hr{
  border: #fff solid 1px;
}
.hr{
  margin-top: 5%;
  border: 1px solid #000;
  width: 40%;
}

header .title{
  margin-top: 30%;
  color: #fff;
}
.title {
  line-height: 1.15;
  font-size: 2em;
}
header .description{
  color: #fff;
}
.description {
  line-height: 1.5;
  font-size: 1.5rem;
  
}
.whitesection{
  background-color: rgba(255, 255, 255, 0.844);
  padding: 5%;
  text-align: center;
}
.buttonsec{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 13%;
}
.downbutton{
  width: 100%;
  background-color: #000066;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hirebutton{
  width: 100%;
  background-color: #000066;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.portfolio{
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
.resume{
  padding-bottom: 1.5%;
}

.footer {
  font-size: .9em;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  height: 15em;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}
.button{
  width: 50%;
  background-color: #000066;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form{
  text-align: left;
  font-size: .9em;
}
.formtext {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.textarea {
  width: 100%;
  height: 20vh;
  margin: 8px 0;
  padding: 5% 7%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.formbutton {
  text-align: center;
}
.submit {
  width: 60%;
  font-size: 1.0em;
  background-color: #000066;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #0404ba;
}
.socialicons{
  display: flex;
  margin-left: 30%; 
}
.icon{
  padding: 2% 10% 0 0 ;
}
.footer{
  font-size: .7em;
  text-align: center;
}
.footer h3{
  color: #fff;
}
.footer p{
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.navmenu {
  text-align: center;
  position: fixed;
  right: -100%;
  top: 5rem;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.navmenu.active {
  right: 0;
}

.navitem {
  margin: 2.5rem 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.navlink{
  font-size: 1.5em;
  font-weight: 400;
  color: #475569;
}

.navlink:hover{
  color: #482ff7;
}

.navlogo {
  font-size: 1.5em;
  font-weight: 400;
  color: #fff;
  font-family: 'Oooh Baby', cursive;
}

@media only screen and (min-width: 640px) {
   .navmenu{
     width: 60%;
   }
   header .title{
    margin-top: 15%;
  }
  .grid{
    display: flex;
  }
  .cards{
    width:50%;
  }
  .flexbox{
    width: 60%;
    margin-left: 20%;
  }
  .buttonsec{
    width: 65%;
    
  }
  .details{
    width: 70%;
    padding: 5%;
  }
  .secimg{
    margin-top: 25%;
  }
  .card{
    height: 14em;
  }
  .button{
    width: 40%;
  }
  .submit {
    width: 40%;
  }
  .socialicons{
    margin-left: 35%;
  }
}
@media only screen and (min-width: 840px) {
 .secimg{
   margin-top: 20%;
 }
 .card{
   height: 16em;
 }
}
@media only screen and (min-width: 940px){
   .card{
     height: 18em;
   }
   .cards{
     width: 45%;
   }
   .secimg{
     margin-top: 12%;
   }
   .navmenu{
    width: 40%;
  }
  .navlogo {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 1100px){
  .buttonsec{
    width: 45%;
    margin-left: 28%;
  }
  .card{
    margin-left: 10%;
  }
}
@media only screen and (min-width: 1200px){
  .secimg{
    margin-top: 5%;
  }
  .cards{
    width: 40%;
  }
  .card{
    margin-left: 30%;
  }
  .cards h2{
    margin-left: 40%;
  }
  .button{
    width: 30%;
  }
}
@media only screen and (min-width: 1300px){
  .cards{
    width: 38%;
  }
}
@media only screen and (min-width: 1400px){
  .cards{
    width: 35%;
  }
  .card{
    margin-left: 43%;
  }
  .cards h2{
    margin-left: 50%;
  }
}