@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Yuji+Hentaigana+Akebono&display=swap');
/* font-family: 'Oooh Baby', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yuji Hentaigana Akebono', cursive; */
.container {
  padding: 0 2rem;
  text-align: center;
}
.hr{
  margin-top: 5%;
  border: 1px solid #000;
  width: 40%;
  z-index: 1;
}
.backimg{
  z-index: 0;
}
.title {
  margin-top:40%;
  line-height: 1.15;
  font-size: 2em;
  z-index: 1;
}
.description {
  line-height: 1.5;
  font-size: 1.5rem;
  z-index: 1;
}
/* .main {
  color: #fff;
} */

.footer {
  font-size: .9em;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
